<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Eleventy Blog</title>

  {# <link rel="stylesheet" href="{{ '/css/site.css' | url }}"> #}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | url }}"/>

  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet">

</head>
<body class="m-0 py-10 px-8 text-lg font-mono">
<header class="flex items-center px-16 py-5 bg-blue-700 text-white rounded-lg">
  <a href="{{ '/' | url }}" class="link--home flex-grow text-3xl">My Blog</a>
  <a href="{{ '/About' | url }} " class="link--about flex-grow text-base text-right">About</a>
</header>
<main class="py-5 px-16 break-words prose">
  {{ content | safe }}
</main>
<footer class="px-0 pt-10 pb-8 text-sm text-gray-400">&copy; My Blog</footer>
<script src="/assets/main.js"></script>
</body>
</html>
