---
title: Home
layout: base.njk
templateEngineOverride: njk,md
---
{# {% for post in posts %}
  <article>

    <h1 class="font-sans text-xl mt-6 mb-2 mx-0">
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h1>

    <time class="text-gray-400 text-sm" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

    {% excerpt post %}

    <a class="text-sm text-blue-300" href="{{ post.url | url }}">Read more</a>

  </article>
Hi, my name is Ianiv. Besides Computer Science and 
programming, two things that I enjoy, I really love [making music](https://soundcloud.com/ianiv/popular-tracks), <a href="{{ '../books/' | url }}">reading books</a>,
 writing and going for a walk.  

 I'm using this space on the Internet as a way to document different aspects of my creative venues, and share it with others. In other words, as a way to communicate with other people, including a future me.  

I also enjoy talking to people I don't know, so if you are one of them don't hesitate to reach out, just do it.  

{% endfor %} #}
Este es mi archivo digital donde registro lo que veo y pienso, lo que me gusta y lo que no.

Mi collage de imágenes, textos, códigos y sonidos.

Básicamente puras cosas de las que me voy a arrepentir haber mostrado en el futuro.