---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
  templateEngineOverride: njk,md
---
{% for post in posts %}
  <article>

    <h1 class="font-sans text-xl mt-6 mb-2 mx-0">
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h1>

    <time class="text-gray-400 text-sm" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

    {% excerpt post %}

    <a class="text-sm text-blue-300" href="{{ post.url | url }}">Read more</a>

  </article>
{% endfor %}